@media (max-width: 620px) {
    .hunter-slider{
        padding: 0.15px;
        gap: 10px;
    }
    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .lista-personagens{
        width: 400px;
    }

    .cartao .imagem-hunter{
        max-height: 230px;
    }
}


@media (max-width: 768px) { 

}



@media (max-width: 992px) { 

}



@media (max-width: 1200px) {   
}
