@media (max-width: 520px) {
    .hunter-slider {
        padding: 0px 10px 10px 20px;
        gap: 5px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-personagens {
        height: 480px;
    }

    .cartao .imagem-fundo-hunter {
        max-height: 230px;
    }

    .cartao .informacoes .nome {    
        max-width: 80%;
        font-size: 18px;
    }
    .cartao .nen .descricao .titulo .texto{
        font-size: 9px;
    }

    .cartao .informacoes .nen {
        font-size: 14px;
    }
}